/**
@author: paulm

**/

/** GENERAL **/

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
}

p {
  font-size: 16px;
}

h1 {
  font-family: Reem Kufi, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  margin-top: 150px;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c3c3c2;
  overflow: auto;
}

/** Home page **/

.hero{
  min-width:100%;
}
aside h1, aside h2, aside h3, aside p {
  color: #fff;
}

aside {
  position: absolute;
  top: 110px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.slick-slide aside img {
  display: inline-block;
  margin: 0 5px 0 20px;
}

.slick-slide aside a {
  color: #fff;
  text-decoration: none;
}

/** Home page **/

.home p {
  font-size: 1.375rem;
  margin: 1.5rem 0;
  font-weight: 300;
}

.text-emoji {
  font-size: 1.5rem;
  font-weight: 300;
}

.social-icons {
  padding: .25rem 0;
  font-size: 3rem;
}

.social-icons a {
  padding: 0 .625rem;
}

.wrapper {
  font-weight: 100;
  font-size: 3em;
  margin-left: auto;
  margin-bottom: 40px;
  -webkit-transition: top 4s ease;
  transition: top 4s ease;
  /* padding: 0 100; */
  color: #000;
}

/** HEADER **/

.logo {
  border: .5rem solid rgba(255, 255, 255, .2);
  max-height: 10rem;
}

header {
  display: block;
  /* background:rgba(0,0,0,0.5); */
  width: 100%;
  padding: 30px 0;
  overflow: auto;
  color: #fff;
}

.top {
  background: #00a9f4;
  background: url('images/banner_bg.jpg');
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.19);
  width: 100%;
  z-index: 999;
  position: fixed;
}

/** NAV **/

/* Position and sizing of burger button */

nav.top-nav li {
  display: inline;
}

.selected {
  background: #0097db;
}

nav.top-nav li {
  float: left;
}

nav.top-nav a {
  display: block;
  margin: 0 10px;
}

nav.top-nav #headerButtons {
  float: right;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  /* background: #373a47; */
  background: #fff;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  background: #4e6e78;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */

.bm-item {
  display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bm-item-list #headerButtons li:not(:first-child) {
  text-align: left;
}

.bm-item-list #headerButtons li:not(:first-child) img {
  margin-right: 15px;
}

.navButton a {
  color: #fff;
  padding: 10px;
}

/** SIDEBAR **/

.sidenav {
  /* height: 100%;
  width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
/* background: #1A237E; *
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center; */
}

.sidenav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/** MAIN **/

.main {
  /* margin-left: 25%; /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  overflow: hidden;
}

/** FOOTER **/

footer {
  display: block;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
}

.butter-icon {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.footer{
  font-size: 17px;
}

/** Projects **/

.author {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}

.project-wrap .card {
  min-height: 350px;
}

.card-title {
  margin-top: 0px;
  font-weight: 700;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-img-top {
  width: auto;
  height: auto;
  object-fit: contain;
}

.img-part {
  border-radius: 5px;
  margin: 0px;
  border: 1px solid #DDDDDD;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

/* ================ Ribbons ======================= */

/* common */

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon.orange::before, .ribbon.orange::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #bd610b !important;
}

.ribbon.purple::before, .ribbon.purple::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid purple !important;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon span.purple {
  background-color: #aa3191;
}

.ribbon span.orange {
  background-color: #e08127;
}

/* top right*/

.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}


/* ================ MEDIA QUERY - SIZE = 1024 ======================= */

@media screen and (min-width: 1024px) and (max-width: 1024px) {}

/* ================ MEDIA QUERY - MAX 980 ======================= */

@media screen and (max-width: 980px) {}

/* ================ MEDIA QUERY - MAX 800 ======================= */

@media screen and (max-width: 800px) {}

/* ================ MEDIA QUERY - MAX 768 ======================= */

@media screen and (min-width: 768px) and (max-width: 800px) {}

/* ================ MEDIA QUERY - MAX 640 ======================= */

@media screen and (max-width: 640px) {}

/* ================ MEDIA QUERY - MAX 600 ======================= */

@media screen and (max-width: 600px) {}

/* ================ MEDIA QUERY - MAX 480 ======================= */

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

/* ================ MEDIA QUERY - MAX 360 ======================= */

@media screen and (max-width: 360px) {}

/* ================ MEDIA QUERY - MAX 320 ======================= */

@media screen and (max-width: 320px) {}